 * {
            box-sizing: border-box;
        }

        body {
            background: #eee;
            margin: 20px 0;
        }

        article {
            width: 21cm;
            min-height: 29.7cm;
            background: white;
            margin: 0 auto;
            overflow: auto;
            padding: 1em;
        }

        p {
            margin: 0.2em 0;
        }  

        h1 {
            font-size: 28px;
            margin-top: 0;
        }
        h2 {
            font-size: 24px;
        }

        ol,
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        strong {
            font-weight: normal;
            color: #85bb36;
        }

        a {
            color: #85bb36;
            text-decoration: none;
            border-bottom: 1px solid;
        }

        p,
        li {
            color: #666;
        }

        strong {
            font-weight: normal;
        }

        .bio {
            position: relative;
        }

        .bio img {
            position: absolute;
            top: 0;
            right: 0;
        }
        .bio p {
            line-height: 1.8;
            font-size: 17px;
        }

        .projects p {
            color: #666;
            margin-left: 0;
            line-height: 1.8;
            font-size: 17px;
        }

        .projects>ol {
            margin-top: 0;
            list-style-position: inside;
            padding: 0;
        }

        .projects>ol>li {
            margin-bottom: 5px;
        }
        .projects>h2{
            margin-top: 5px;
        }

        .projects>ol>li>header {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            margin-top: 5px;
        }


        #skills {

            width: 350px;
           height: 260px;
        }
        .skills>.wrapper {
      display: flex;
      justify-content: space-between;
      font-size: 17px;
    }

    /*.skills>.wrapper>:second-child {
      margin-left: 24px;
    }*/
        .skills>.wrapper>ul {
            color: #666;
        }

        .skills>.wrapper strong {
            color: #000000;
        }

        .skills>.wrapper>ul>li {
            line-height: 1.3;
            margin-bottom: 8px;
        }
        
        @media (max-width: 500px) {
      body {
        margin: 0;
      }

      article {
        width: auto;
        height: auto;
      }

      .bio img {
        display: none;
      }

      .skills .wrapper {
        flex-direction: column;
      }

      #skills {
        width: auto;
      }
      
    }
    @media print {
            body {
           margin: 0;
     }

    .page2 {
      page-break-before: always;
      margin-top: 30px;
     }
     /*#skills{display:none;}*/
    }
    .others p{
        font-size: 17px;
    }
    .jingli p{
        font-size: 17px;
    }
   