 * {
            box-sizing: border-box;
        }

        body {
            background: #eee;
            margin: 20px 0;
        }

        article {
            width: 21cm;
            min-height: 29.7cm;
            background: white;
            margin: 0 auto;
            overflow: auto;
            padding: 1em;
        }

        p {
            margin: 0.4em 0;
        }  

        h1 {
            font-size: 35px;
            margin-top: 0;
        }

        ol,
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        strong {
            font-weight: normal;
            color: #85bb36;
        }

        a {
            color: #85bb36;
            text-decoration: none;
            border-bottom: 1px solid;
        }

        p,
        li {
            color: #666;
        }

        strong {
            font-weight: normal;
        }

        .bio {
            position: relative;
        }

        .bio img {
            position: absolute;
            top: 0;
            right: 0;
        }
        .bio p {
            line-height: 1.6;
        }

        .projects p {
            color: #666;
            margin-left: 15px;
            line-height: 1.9;
        }

        .projects>ol {
            margin-top: 0;
            list-style-position: inside;
            padding: 0;
        }

        .projects>ol>li {
            margin-bottom: 48px;
        }
        .projects>h2{
            margin-top: 48px;
        }

        .projects>ol>li>header {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            margin-top: 15px;
        }


        #skills {

            width: 500px;
           height: 15px;
        }
        .skills>.wrapper>ul {
            color: #666;
        }

        .skills>.wrapper strong {
            color: #000000;
        }

        .skills>.wrapper>ul>li {
            line-height: 1.9;
            margin-bottom: 4px;
        }
        .jl>p {
            line-height: 2.1;
        }
        @media (max-width: 500px) {
            body {
                margin: 0;
            }

            article {
                width: auto;
                height: auto;
            }

            .bio img {
                display: none;
            }
            
        }
   